<h1>{{type}}</h1>
{{#if model.isRunning}}
  <h3>Loading...</h3>
{{else if model.value}}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        {{#each tableHeaders as |header|}}
          <th>{{header}}</th>
        {{/each}}
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each model.value as |entry|}}
      {{admin-entry model=entry deleteRecord=deleteRecord}}
    {{/each}}
    </tbody>
  </table>
{{/if}}