<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
  {{#each invitations as |invitation|}}
    {{invitation-entry invitation=invitation}}
  {{/each}}
  </tbody>
</table>
