<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-test-name>{{library.name}}</h3>
  </div>
  <div class="panel-body">
    <p data-test-address>Address: {{library.address}}</p>
    <p data-test-phone>Phone: {{library.phone}}</p>
  </div>
</div>
